[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytz = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
